* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.modal-wrap {
  position: fixed;
  background: #787380;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:30px 0;
  color: white;
}

.modal-window {
  padding: 20px;
  background: #787380;
  border: 3px solid #81078c;
  border-radius: 5px;
  width: 600px;
  max-width: 100%;
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scale(1);
}
.set-btn {
  background: #716f75;
  border: 1px solid white;
  margin: 10px;
  border-radius: 5px;
  padding: 5px 15px;
  color: white;
  outline: none;
}
.set-btn:hover {
  cursor: pointer;
  background: #fff;
  color: #222222;
  transition: .3s all ease;
}
